.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 5px;
    color: salmon;
    text-decoration: none;

}

.pagination__link {
    font-weight: bold;
}

.pagination__link--active a {
    color: salmon;
    background: #6c7ac9;
}

.pagination__link--disabled a {
    color: salmon;
    /*border: 1px solid rgb(198, 197, 202);*/
}