.App {
    text-align: center;
}

* {
    border-radius: 0 !important;
}

.navigation{
    padding: 10px;
    background-color: #4f346a;
    color: #4f346a;

}

.brand{
    color: salmon;
    background-color: teal;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
}

.brandSmall{
    color: salmon;
    background-color: teal;
    padding: 1rem;
    font-size: small;
}

.button {
    width: auto;
    color: #4f346a;
    background-color: #451566;
    text-decoration: none;

}

.report {
    color: salmon;
    background-color: teal;
    padding: 1rem;
    font-size: small;
    text-decoration: none !important;

}

input[type="text"]{
    background-color: salmon;
    border: none;
}

input[type=text]:focus{
    background-color: aquamarine;
    border: none;
}
